body {
    margin:10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text,
.axis-label text {
    font-family: sans-serif;
    font-size: 11px;
}