<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org" ng-app="dchart.demo">
    <head>
        <title>Angular/D3.js Chart Directives</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="css/angular-dchart.min.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">

        <style type="text/css">
            body {
                margin:10px;
            }
        </style>

        <script type="text/javascript" src="../lib/angular.js"></script>
        <script type="text/javascript" src="../lib/d3.js" charset="utf-8"></script>

        <script type="text/javascript" src="js/angular-dchart.js"></script>

        <script type="text/javascript">
            // Replace Array and Keep Reference
            if (Array.prototype.replace === undefined) {
                Array.prototype.replace = function(newArray) {
                    this.splice(0,this.length);
                    for(var i=0;i<newArray.length;i++)
                        this.push(newArray[i]);
                };
            }

            var app = angular.module('dchart.demo', ['dchart.solver','dchart.line', 'dchart.histo', 'dchart.scatter']);

            app.controller("MainCtrl", ['$scope','dchartSolver', function($scope, solver) {

                $scope.fn = {};

                $scope.fn.sin = function(x) { return Math.sin(x*Math.PI/180); };
                $scope.fn.cos = function(x) { return Math.cos(x*Math.PI/180); };
                $scope.fn.tan = function(x) { return Math.tan(x*Math.PI/180); };

                $scope.fn.rnd = function(x) { return Math.random()*50; };
                $scope.fn.zero = function(x) { return 0; };

                $scope.lineData = {};
                $scope.lineData.Set1 = solver.solve($scope.fn.rnd,0,100,5);
                $scope.lineData.Set2 = solver.solve($scope.fn.rnd,0,100,5);
                $scope.lineData.Set3 = solver.solve($scope.fn.rnd,0,100,5);

                $scope.histoData = {};
                $scope.histoData.Set1 = solver.solve($scope.fn.rnd,1,20,1);
                $scope.histoData.Set2 = solver.solve($scope.fn.rnd,1,20,1);
                $scope.histoData.Set3 = solver.solve($scope.fn.rnd,1,20,1);

                $scope.histoData.Set4 = [];

                $scope.histoData.Set5 = [
                    {label:"06:30-07:00",y:$scope.fn.rnd()},
                    {label:"07:00-07:30",y:$scope.fn.rnd()},
                    {label:"07:30-08:00",y:$scope.fn.rnd()},
                    {label:">08:00",y:$scope.fn.rnd()}
                ];

                $scope.createScatterDataSet = function(max,m) {
                    var data = [];

                    for(var i=0; i<max; i++) {
                        data.push({x:Math.random()*m,y:Math.random()*m,w:Math.random()});
                    }

                    return data;
                };

                $scope.scatterDataSet1 = $scope.createScatterDataSet(100,100);
                $scope.scatterDataSet2 = $scope.createScatterDataSet(100,100);
                $scope.scatterDataSet3 = $scope.createScatterDataSet(50,50);
                $scope.scatterDataSet4 = $scope.createScatterDataSet(50,50);

                $scope.randomizeLine1 = function() {
                    $scope.lineData.Set1.replace(solver.solve($scope.fn.rnd,0,100,5));
                    $scope.lineData.Set2.replace(solver.solve($scope.fn.rnd,0,100,5));
                    $scope.lineData.Set3.replace(solver.solve($scope.fn.rnd,0,100,5));
                };

                $scope.randomizeHisto1 = function() {
                    $scope.histoData.Set1.replace(solver.solve($scope.fn.rnd,1,20,1));
                    $scope.histoData.Set2.replace(solver.solve($scope.fn.rnd,1,20,1));
                    $scope.histoData.Set3.replace(solver.solve($scope.fn.rnd,1,20,1));
                };

                $scope.randomizeHisto2 = function() {
                    $scope.histoData.Set4.replace([
                        {label:"monday",y:$scope.fn.rnd(),color:"blue"},
                        {label:"tuesday",y:$scope.fn.rnd()},
                        {label:"wednesday",y:$scope.fn.rnd()},
                        {label:"thursday",y:$scope.fn.rnd()},
                        {label:"friday",y:$scope.fn.rnd()},
                        {label:"saturday",y:$scope.fn.rnd()},
                        {label:"sunday",y:$scope.fn.rnd()}
                    ]);

                    $scope.histoData.Set5.replace([
                        {label:"06:30-07:00",y:$scope.fn.rnd()},
                        {label:"07:00-07:30",y:$scope.fn.rnd()},
                        {label:"07:30-08:00",y:$scope.fn.rnd()},
                        {label:">08:00",y:$scope.fn.rnd()}
                    ]);
                };

                $scope.randomizeScatter1 = function() {
                    $scope.scatterDataSet1.replace($scope.createScatterDataSet(100,100));
                    $scope.scatterDataSet2.replace($scope.createScatterDataSet(100,100));
                    $scope.scatterDataSet3.replace($scope.createScatterDataSet(50,50));
                    $scope.scatterDataSet4.replace($scope.createScatterDataSet(50,50));
                };

                $scope.randomizeHisto2 = function() {

                    $scope.histoData.Set4.replace([
                        {label:"monday",y:$scope.fn.rnd()},
                        {label:"tuesday",y:$scope.fn.rnd()},
                        {label:"wednesday",y:$scope.fn.rnd()},
                        {label:"thursday",y:$scope.fn.rnd()},
                        {label:"friday",y:$scope.fn.rnd()},
                        {label:"saturday",y:$scope.fn.rnd()},
                        {label:"sunday",y:$scope.fn.rnd()}
                    ]);

                    $scope.histoData.Set5.replace([
                        {label:"06:30-07:00",y:$scope.fn.rnd()},
                        {label:"07:00-07:30",y:$scope.fn.rnd()},
                        {label:"07:30-08:00",y:$scope.fn.rnd()},
                        {label:">08:00",y:$scope.fn.rnd()}
                    ]);
                }
            }]);
        </script>
    </head>
    <body ng-controller="MainCtrl">
        <h1>Angular/D3.js Chart Directives</h1>

        <h2>About</h2>
        <p>
            This library is in devlopment and not finished yet.<br />
            Source on Github: <a href="https://github.com/chaosmail/angular-dchart" target="_new">https://github.com/chaosmail/angular-dchart</a>
        </p>
        <h2>Line Chart</h2>
        <div class="form-horizontal">
            <button class="btn" ng-click="randomizeLine1()">Randomize!</button>
        </div>
        <p>
        <dchart-line width="600" height="300">
            <axis>
                <x align="right" label-pos="end">x Axis</x>
                <y align="top" label-pos="end">y Axis</y>
            </axis>
            <data-set interpolate="linear" stroke="mediumslateblue" stroke-width="2" data="lineData.Set1">
            </data-set>
            <data-set interpolate="cardinal" stroke="orange" stroke-width="2" data="lineData.Set2">
            </data-set>
            <data-set interpolate="cardinal" stroke="green" stroke-width="2" data="lineData.Set3">
            </data-set>
        </dchart-line>

        <dchart-line width="300" height="300">
            <axis>
                <x align="center" range="[0,360]" ticks="18">x Axis</x>
                <y align="center" range="[-1,1]">y Axis</y>
            </axis>
            <data-set stroke="firebrick" stroke-width="2" data="fn.sin" interpolate="cardinal">
            </data-set>
            <data-set stroke="deepskyblue" stroke-width="2" data="fn.cos" interpolate="cardinal">
            </data-set>
        </dchart-line>
        </p>
        
        <h2>Histogramm</h2>
        <div class="form-horizontal">
            <button class="btn" ng-click="randomizeHisto1()">Randomize!</button>
        </div>
        <p>
        <dchart-histo width="600" height="300">
            <axis>
                <x align="bottom" ticks="20">x Axis</x>
                <y align="left">y Axis</y>
            </axis>
            <data-set stroke="firebrick" fill="coral" fill-opacity="0.8" stroke-width="0.8" data="histoData.Set1">
            </data-set>
            <data-set stroke="lightseagreen" fill="lightskyblue" fill-opacity="0.8" stroke-width="0.8"  data="histoData.Set2">
            </data-set>
            <data-set stroke="blue" fill="cornflowerblue" min="1" fill-opacity="0.8" stroke-width="0.8"  data="histoData.Set3">
            </data-set>
        </dchart-histo>

        <dchart-histo width="300" height="300">
            <axis>
                <x align="top" range="[0,90]" ticks="25" label-pos="start">x Axis</x>
                <y align="right" range="[0,1.5]" label-pos="middle">y Axis</y>
            </axis>
            <data-set stroke="navy" fill="blue" fill-opacity="0.8" stroke-width="0.5" data="fn.sin">
            </data-set>
            <data-set stroke="slategrey" fill="silver" fill-opacity="0.8" stroke-width="0.5"  data="fn.cos">
            </data-set>
        </dchart-histo>
        <br>
        <div class="form-horizontal">
            <button class="btn" ng-click="randomizeHisto2()">Randomize!</button>
        </div>
        <dchart-histo width="600" height="300">
            <axis>
                <x align="bottom">weekdays</x>
                <y align="left">values</y>
            </axis>
            <data-set stroke="firebrick" fill="coral" min="1" fill-opacity="0.8" stroke-width="0.8" data="histoData.Set4">
            </data-set>
        </dchart-histo>
        
        <dchart-histo width="300" height="300">
            <axis>
                <x align="bottom" label-pos="end">wake up time</x>
                <y align="left" label-pos="middle">people</y>
            </axis>
            <data-set stroke="navy" fill="blue" fill-opacity="0.8" stroke-width="0.5" data="histoData.Set5">
            </data-set>
        </dchart-histo>
        </p>

        <h2>Scatter Plot</h2>
        <div class="form-horizontal">
            <button class="btn" ng-click="randomizeScatter1()">Randomize!</button>
        </div>
        <p>
        <dchart-scatter width="600" height="300">
            <axis>
                <x align="bottom">x Axis</x>
                <y align="left">y Axis</y>
            </axis>
            <data-set stroke="darkgreen" fill="green" fill-opacity="0.8" stroke-width="0.5" data="scatterDataSet1">
            </data-set>
            <data-set stroke="darkorange" fill="orange" fill-opacity="0.8" stroke-width="0.5"  data="scatterDataSet2">
            </data-set>
        </dchart-scatter>

        <dchart-scatter width="300" height="300">
            <axis>
                <x align="center" range="[-50,50]">x Axis</x>
                <y align="center" range="[-50,50]">y Axis</y>
            </axis>
            <data-set fill="green" stroke="darkgreen" fill-opacity="0.7" stroke-width="0.5" data="scatterDataSet3">
            </data-set>
            <data-set fill="orange" stroke="darkorange" fill-opacity="0.7" stroke-width="0.5" data="scatterDataSet4">
            </data-set>
        </dchart-scatter>
        </p>

    </body>
</html>